langchain
langchain-ollama
langchain-chroma
langchain-text-splitters
sentence-transformers
faster-whisper
sounddevice
numpy
kokoro-onnx
soundfile
psutil
beautifulsoup4
requests
SpeechRecognition
pyaudio
OpenJarvis
Pillow
pyautogui
youtube-transcript-api
send2trash
faster-whisper
